
header {
    background-color: #E7B355;
    color: white;
}
  
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 6rem;
}
  
.logo-img {
  display: block;
  width: 10%;
  padding: 1rem;
}
  
.header-text {
  font-size: 2rem;
  margin-left: 1rem;
}