form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
}

input {
    font-size: larger;
    background-color: #EFEFEF;
    border: none;
    padding: 10px;
    width: 80%;
}

input:focus {
    outline: 1px solid #969696;
}



.wrapper {
    background-color: #EFEFEF;
    border-radius: 20px;
    width: 80%;
    padding: 10px;
    border: 2px solid #969696;
    margin-bottom: 30px;
}
