body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  margin-bottom: 40px;
}

ul {
  list-style: none;
}

button {
  font-size: large;
  font-weight: bold;
  background-color: #845EC2;
  color: white;
  border-radius: 10px;
  box-shadow:  1px -1px 5px #969696;
  padding: 10px;
}

.container {
  position: relative;
  background-color:white;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px -1px 10px #969696;
  margin: 5px auto;
}


.decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: #845EC2;
  height: 20px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
